[Desktop Entry]
Name=Emacsclient
Comment=Tell a running Emacs to visit a file.
Icon=emacs.png
NoDisplay=true
TryExec=/usr/bin/emacsclient
Exec=/usr/bin/emacsclient -a /usr/bin/emacs %F
Terminal=false
Type=Application
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
