[Desktop Entry]
Type=Application
Name=Emacsclient (mail)
NoDisplay=true
Exec=/usr/bin/emacsclient --eval "(message-mailto (pop server-eval-args-left))" %u
Terminal=false
MimeType=x-scheme-handler/mailto;
