[Desktop Entry]
Type=Application
Version=1.0
Name=Emacsclient
NoDisplay=true
Comment=Tell a running Emacs to visit a file
Comment[de]=In einer laufenden Emacs-Instanz eine Datei öffnen
Comment[es]=Abrir un archivo en un Emacs corriente
Comment[fr]=Ouvre un fichier dans une instance d'Emacs qui est déjà lancée
Icon=emacs
TryExec=/usr/bin/emacsclient
Exec=/usr/bin/emacsclient %F
Terminal=false
MimeType=text/css;text/english;text/html;text/plain;text/x-c;text/x-chdr;text/x-csrc;text/x-c++;text/x-c++hdr;text/x-c++src;text/x-java;text/x-makefile;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;
